<launch>
 
  <!--<node pkg="ros_agv3_msg"     type="ros_agv3_talker" name="ros_agv3_msg"  output="screen" >-->
  <node pkg="ros_agv3_msg"         type="ros_agv3_talker" name="ros_agv3_msg"  respawn="true"  output="screen">
    <param name="smoother_cmd_vel" type="string"          value="cmd_vel"/>
    <param name="usart_port"       type="string"          value="/dev/ttyS7"/>
    <param name="baud_data"        type="int"    	  value="115200"/>
  </node>
</launch>


